.Income {
    display: grid;
    grid-template-columns: 49% 2% 49%;
    margin-top: -23px;
}

.vl {
  border-left: 1.5px solid #1b848ba2;
  height: 252.571px;
  position: relative;
  left: 50%;
  top: 50.514px;
  margin-left: -3px;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff3a; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffffb4; 
}

.Make-Me-Scroll {
    overflow-y:scroll;
    max-height: 300px;
    border-radius: 0 0 15px 15px;
}