.Income {
    display: grid;
    grid-template-columns: 49.3% 0.4% 49.3%;
}

.vl {
  border-left: 1.5px solid #1b848ba2;
  height: 252.571px;
  position: relative;
  left: 50%;
  top: 50.514px;
  margin-left: -3px;
}
