.BigCard-Container {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  margin: 7em;
  margin-left: 8em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 35em;
}

.BigCard {
  width: 590px;
  height: 26em;
  border-radius: 15px;
  box-shadow: 10px 10px 13px 12px #03c79c4f;
}

.Rest-Of-BigCard {
  background-image: linear-gradient(#29b8c2, #00c979);
  border-radius: 15px;
  height: 100%;
  width: 590px;
}

.tab-list {
  margin-top: 0;
  border-bottom: 1px solid #23bab8;
  padding-left: 0;
  background-color: #ffffff;
  border-radius: 15px 15px 0px 0px;
  font-weight: lighter;
}

.tab-list-item {
  display: inline-flex;
  list-style: none;
  margin-bottom: -1px;
  padding: 1rem 1.8rem;

}

.tab-list-active {
  background-color: #23bab8;
  border: solid #23bab8;
  border-width: 1px 1px 0 1px;
  border-radius: 15px 15px 0px 0px;
  color:#ffffff;
  font-weight: normal;
}

h3 {
  font-weight: normal;
  color: #ffffff;
}